body {
  background-color: hsl(212, 45%, 89%);
  font-family: "outfit", sans-serif;
}

.card {
  background-color: white;
  width: 350px;
  height: 550px;
  border-radius: 6%;
  margin: 80px auto;
}

.card-content {
  padding: 20px;
}

.img-qrcode {
  width: 310px;
  border-radius: 6%;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 24px;
  text-align: center;
  margin: 20px auto;
}

.text {
  color: hsl(220, 15%, 55%);
  width: 290px;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
}

@media (max-width: 400px) {
  .card {
    margin: 30px auto;
    width: 320px;
    height: 520px;
  }

  .card-content {
    padding: 15px;
  }

  .img-qrcode {
    width: 290px;
  }

  .text {
    width: 280px;
    margin: 15px auto;
  }

  h1 {
    margin: 15px auto;
  }
}
